@font-face {
  font-family: "Digital-7";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(/local/fonts/digital-7.woff2) format('woff2'),
       url(/local/fonts/digital-7.ttf) format('truetype');
}
